    <div id="up-to-top" class="row">
      <div class="small-8 small-offset-2 columns" style="text-align: right;">
        <a class="iconfont" href="#top-of-page">&#xf108;</a>
      </div><!-- /.small-8 small-offset-2.columns -->
    </div><!-- /.row -->


    <footer id="footer-content" class="bg-grau">
      <div id="footer">
        <div class="row">
            <div class="large-2 columns">
              <h5>DHLG</h5>
            </div><!-- /.large-6.columns -->

          <div class="large-3 columns">
            <h5>The DH Literacy Guidebook</h5>
            <p>
              {{ site.description }}
            </p>
          </div><!-- /.large-6.columns -->

          <div class="large-3 columns">
              <h5>Content Attribution</h5>
              <p>
                {{ site.description }}
              </p>
          </div><!-- /.large-4.columns -->


          <div class="large-2 columns">
            <h5>Links</h5>
            <ul class="no-bullet">
            {% for link in site.data.footerlinks %}
              {% if link.url contains 'http' %}{% assign domain = '' %}{% else %}{% capture domain %}{{ site.url }}{{ site.baseurl }}{% endcapture %}{% endif %}
                <li>
                  <a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" {% endif %} title="{{ link.title }}">{{ link.name }}</a>
                </li>
            {% endfor %}
            </ul>
          </div><!-- /.large-3.columns -->
          <div class="large-2 columns">
              <h5>Mellon</h5>
            </div>
        </div><!-- /.row -->

      </div><!-- /#footer -->


      <div id="subfooter">
        <nav class="row">
          <section id="subfooter-left" class="large-9 columns">
            <ul class="inline-list">
              {% for link in site.data.subfooterlinks %}
                <li><a href="{{ link.url }}" target="_blank" title="{{ link.title }}">{{ link.name }}</a></li>
              {% endfor %}
              </ul>
          </section>

          <section id="subfooter-right" class="large-3 columns">
            <img src='/assets/img/CMU_wordmark_1500px-min_white.png' id="footerlogo">
          </section>
        </nav>
      </div><!-- /#subfooter -->
    </footer>
