		<div id="page-meta" class="row t30 b60">
			<div class="small-12 columns" id="contributor">
				<p class="sourceinfo">{% if page.source == 'contribution' %}<img src="/assets/img/circle-cobalt.svg">{% else %}<img src="/assets/img/circle-brilliant-amber.svg">{% endif %} 
				{% if page.creationdate %}
				<time class="pr20" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"> {{ page.creationdate | date: "%B %-d, %Y" }}.</time>
				{% endif %}
				{% unless page.topics == empty%}
				{% assign matchedtopics = site.emptyArray %}
					{% for topic in page.topics %}
						{% for controltopic in site.topics %}
							{% if controltopic.identifier == topic %}
							{% assign matchedtopics = matchedtopics | push: controltopic %}
							
							{% endif %}
						{% endfor %}
					{% endfor %}
					{% for topic in matchedtopics %}
						<a href="/topics/#topic_{{ topic.identifier }}">{{topic.title}}</a>{% if forloop.last %}{% else %}, {% endif %}
					{% endfor %}
				{% endunless %}
				</p>
				<h3>Posted by</h3>
				{% for author in page.authors %}
						<h4>
						<span class="authorname" itemprop="author" itemscope itemtype="http://schema.org/Person">{% if author.uri!='' %}<a href="{{ author.uri }}" target="_blank">{% endif %}{{ author.name }}{% if author.uri!='' %}</a>{% endif %} ({{ author.affiliation }})</span>
						</h4>
					{% if author.bio != empty %}
						<p class="authorbio">{{ author.bio | markdownify }}</p>
					{% endif %}
				{% endfor %}
				
			</div>
			{% unless page.disciplines == empty%}
			{% assign matcheddisciplineprojects = site.emptyArray %}
			<div class="small-12 columns">
				<h3>Similar Projects by Discipline</h3>
				<div class="row similarprojects">
				{% for discipline in page.disciplines %}
					{% for controldiscipline in site.data.disciplines %}
						{% if controldiscipline.identifier == discipline %}
							{% for finddisciplineprojects in site.projects %}
								{% if finddisciplineprojects.disciplines contains controldiscipline.identifier %}
									{% if finddisciplineprojects.identifier != page.identifier %}
										{% unless matcheddisciplineprojects contains finddisciplineprojects.identifier %}
											<div id="disciplineproject_{{ finddisciplineprojects.identifier }}" class="large-4 medium-6 columns projectbox">
												<a href="{{ site.url }}{{ site.baseurl }}{{ finddisciplineprojects.url }}" title="Play {{ finddisciplineprojects.title | escape_once }}"><img src="https://img.youtube.com/vi/{{ finddisciplineprojects.youtubeid}}/mqdefault.jpg"></a>
												<h4><a href="{{ site.url }}{{ site.baseurl }}{{ finddisciplineprojects.url }}" title="Play {{ finddisciplineprojects.title | escape_once }}">{{ finddisciplineprojects.title | truncate: 67 }}</a></h4>
												{% if finddisciplineprojects.teaser %}<p>{{ finddisciplineprojects.teaser | truncate: 85 }}</p>{% endif %}
											</div>
											{% assign matcheddisciplineprojects = matcheddisciplineprojects | push: finddisciplineprojects.identifier %}
										{% endunless %}
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
				{% endfor %}
				</div>
			</div>
			{% endunless %}
			{% unless page.topics == empty%}
			{% assign matchedtopicprojects = site.emptyArray %}
			<div class="small-12 columns">
				<h3>Similar Projects by Topics</h3>
				<div class="row similarprojects">
				{% for topic in page.topics %}
					{% for controltopic in site.topics %}
						{% if controltopic.identifier == topic %}
							{% for findtopicprojects in site.projects %}
								{% if findtopicprojects.topics contains controltopic.identifier %}
									{% if findtopicprojects.identifier != page.identifier %}
										{% unless matchedtopicprojects contains findtopicprojects.identifier %}
											<div id="topicproject_{{ findtopicprojects.identifier }}" class="large-4 medium-6 columns projectbox">
													<a href="{{ site.url }}{{ site.baseurl }}{{ findtopicprojects.url }}" title="Play {{ findtopicprojects.title | escape_once }}"><img src="https://img.youtube.com/vi/{{ findtopicprojects.youtubeid}}/mqdefault.jpg"></a>
													<h4><a href="{{ site.url }}{{ site.baseurl }}{{ findtopicprojects.url }}" title="Play {{ findtopicprojects.title | escape_once }}">{{ findtopicprojects.title | truncate: 67 }}</a></h4>
													{% if findtopicprojects.teaser %}<p>{{ findtopicprojects.teaser | truncate: 85 }}</p>{% endif %}
											</div>
											{% assign matchedtopicproject = matchedtopicprojects | push: findtopicprojects.identifier %}
										{% endunless %}
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
				{% endfor %}
				</div>
			</div>
			{% endunless %}
			{% if page.collection == "posts" %}
			<div id="post-nav" class="row">
				{% if page.previous.url %}
				<div class="small-5 columns"><a class="button small radius prev" href="{{ site.url }}{{ site.baseurl }}{{page.previous.url}}">&laquo; {{page.previous.title}}</a></div><!-- /.small-4.columns -->
				{% endif %}
				<div class="small-2 columns text-center"><a class="radius button small" href="{{ site.url }}{{ site.baseurl }}/blog/archive/" title="Blog Archive">Archive</a></div><!-- /.small-4.columns -->
				{% if page.next.url %}
				<div class="small-5 columns text-right"><a class="button small radius next" href="{{ site.url }}{{ site.baseurl }}{{page.next.url}}">{{page.next.title}} &raquo;</a></div><!-- /.small-4.columns -->
				{% else %}
				<div class="small-5 columns text-right"></div><!-- /.small-4.columns -->
				{% endif %}
			</div>
			{% endif %}
			</div><!--  /.page-meta -->
