		<div id="page-meta" class="row t30 b60">
			<div class="small-12 columns" id="contributor">
				<p class="sourceinfo">{% if page.source == 'community' %}<img src="{{ 'assets/img/circle-cobalt.svg' | relative_url }}">{% else %}<img src="{{ 'assets/img/circle-brilliant-amber.svg' | relative_url }}">{% endif %}
				{% if page.creationdate %}
				<time class="pr20" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"> {{ page.creationdate | date: "%B %-d, %Y" }}.</time>
				{% endif %}
				{% unless page.topics == empty%}
				{% assign matchedtopics = site.emptyArray %}
					{% for topic in page.topics %}
						{% for controltopic in site.topics %}
							{% if controltopic.identifier == topic %}
							{% assign matchedtopics = matchedtopics | push: controltopic %}
							{% endif %}
						{% endfor %}
					{% endfor %}
					{% for topic in matchedtopics %}
						<a href="/topics/#topic_{{ topic.identifier }}">{{topic.title}}</a>{% if forloop.last %}{% else %}, {% endif %}
					{% endfor %}
				{% endunless %}
				</p>
				<h3>Posted by</h3>
				{% for author in page.authors %}
						<h4>
						<span class="authorname" itemprop="author" itemscope itemtype="http://schema.org/Person">{% unless author.uri==NULL%}<a href="{{ author.uri }}" target="_blank">{% endunless %}{{ author.name }}{% unless author.uri!='' %}</a>{% endunless %} {% unless author.affiliation==NULL%}({{ author.affiliation }}){% endunless %}</span>
						</h4>
					{% if author.bio != empty %}
						<p class="authorbio">{{ author.bio | markdownify }}</p>
					{% endif %}
				{% endfor %}
			</div>
			{% unless page.disciplines == empty%}
			{% assign matcheddisciplineprojects = site.emptyArray %}
			{% assign matcheddisciplines = site.emptyArray %}
			<div class="small-12 columns">
				<h3>Similar Projects by Discipline</h3>
				{% for discipline in page.disciplines %}
					{% for controldiscipline in site.data.disciplines %}
						{% if controldiscipline.identifier == discipline %}
						{% assign matcheddisciplines = matcheddisciplines | push: controldiscipline %}
							{% for finddisciplineprojects in site.projects %}
								{% if finddisciplineprojects.disciplines contains controldiscipline.identifier %}
									{% if finddisciplineprojects.identifier != page.identifier %}
										{% assign matcheddisciplineprojects = matcheddisciplineprojects | push: finddisciplineprojects %}
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
				{% endfor %}
				{% assign matcheddisciplines = matcheddisciplines | uniq %}
				{% for matcheddiscipline in matcheddisciplines %}
					{% assign renderedmatcheddisciplines = site.emptyArray %}
					{% assign nomatch = false %}
					<h4>{{ matcheddiscipline.name }}</h4>
					<div class="row similarprojects">
					{% for finddisciplineprojects in matcheddisciplineprojects %}
						{% if finddisciplineprojects.disciplines contains matcheddiscipline.identifier %}
						{% assign nomatch = false %}
							{% if finddisciplineprojects.identifier != page.identifier %}
								{% unless renderedmatcheddisciplines contains finddisciplineprojects.identifier %}
									<div id="disciplineproject_{{ finddisciplineprojects.identifier }}" class="large-4 medium-6 columns projectbox">
										<a href="{{ finddisciplineprojects.url | relative_url }}" title="Play {{ finddisciplineprojects.title | escape_once }}"><img src="https://img.youtube.com/vi/{{ finddisciplineprojects.youtubeid}}/mqdefault.jpg"></a>
										<h4><a href="{{ finddisciplineprojects.url | relative_url }}" title="Play {{ finddisciplineprojects.title | escape_once }}">{{ finddisciplineprojects.title | truncate: 45 }}</a></h4>
										<p class="strong">{% for author in finddisciplineprojects.authors %}
											{{ author.name }}{% if forloop.last %}{% else %}, {% endif %}
											{% endfor %}</p>
										{% if finddisciplineprojects.teaser %}<p>{{ finddisciplineprojects.teaser | truncate: 80 }}</p>{% endif %}
									</div>
								{% endunless %}
								{% assign renderedmatcheddisciplines = renderedmatcheddisciplines | push: finddisciplineprojects.identifier %}
							{% endif %}
						{% else %}
							{% assign nomatch = true %}
						{% endif %}
					{% endfor %}
					{% if nomatch == true %}
						<div id="topicprojectnomatch_{{ matcheddiscipline.identifier }}" class="columns">
							No other videos for this discipline yet.
						</div>
					{% endif %}
					</div>
				{% endfor %}
			</div>
			{% endunless %}
			{% unless page.topics == empty%}
			{% assign matchedtopicprojects = site.emptyArray %}
			{% assign matchedtopics = site.emptyArray %}
			<div class="small-12 columns">
				<h3>Similar Projects by Topics</h3>
				{% for topic in page.topics %}
					{% for controltopic in site.topics %}
						{% if controltopic.identifier == topic %}
						{% assign matchedtopics = matchedtopics | push: controltopic %}
							{% for findtopicprojects in site.projects %}
								{% if findtopicprojects.topics contains controltopic.identifier %}
									{% if findtopicprojects.identifier != page.identifier %}
										{% assign matchedtopicprojects = matchedtopicprojects | push: findtopicprojects %}
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
				{% endfor %}
				{% assign matchedtopics = matchedtopics | uniq %}
				{% for matchedtopic in matchedtopics %}
					{% assign renderedmatchedtopics = site.emptyArray %}
					{% assign nomatch = false %}
					<h4>{{ matchedtopic.title }}</h4>
					<div class="row similarprojects">
					{% for findtopicprojects in matchedtopicprojects %}
						{% if findtopicprojects.topics contains matchedtopic.identifier %}
						{% assign nomatch = false %}
							{% if findtopicprojects.identifier != page.identifier %}
								{% unless renderedmatchedtopics contains findtopicprojects.identifier %}
									<div id="topicproject_{{ findtopicprojects.identifier }}" class="large-4 medium-6 columns projectbox">
										<a href="{{ findtopicprojects.url | relative_url }}" title="Play {{ findtopicprojects.title | escape_once }}"><img src="https://img.youtube.com/vi/{{ findtopicprojects.youtubeid}}/mqdefault.jpg"></a>
										<h4><a href="{{ findtopicprojects.url | relative_url }}" title="Play {{ findtopicprojects.title | escape_once }}">{{ findtopicprojects.title | truncate: 45 }}</a></h4>
										<p class="strong">{% for author in findtopicprojects.authors %}
											{{ author.name }}{% if forloop.last %}{% else %}, {% endif %}
											{% endfor %}</p>
										{% if findtopicprojects.teaser %}<p>{{ findtopicprojects.teaser | truncate: 80 }}</p>{% endif %}
									</div>
								{% endunless %}
								{% assign renderedmatchedtopics = renderedmatchedtopics | push: findtopicprojects.identifier %}
							{% endif %}
						{% else %}
							{% assign nomatch = true %}
						{% endif %}
					{% endfor %}
					{% if nomatch == true %}
					<div id="topicprojectnomatch_{{ matchedtopic.identifier }}" class="columns">
						No other videos for this topic yet.
					</div>
					{% endif %}
				</div>
				{% endfor %}
			</div>
			{% endunless %}
			</div><!--  /.page-meta -->
