			<div id="page-meta" class="t30">
				<p>
					<!-- Look the author details up from the site config. -->
					{% assign author = site.data.authors[page.author] %}
					<!-- Output author details if some exist. -->
					{% if author %}
					<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name" class="pr20 icon-edit"><a href="{{ author.uri }}" target="_blank"> {{ author.name }}</a></span>
				</span>
				{% if author.bio != empty %}
				{{ author.bio }}
				{% endif %}
				{% endif %}

				{% if page.date %}
				<time class="icon-calendar pr20" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"> {{ page.date | date: "%Y-%m-%d" }}</time>
				{% endif %}

				{% if page.categories != empty %}<span class="icon-archive pr20"> {{ page.categories | join: ' · ' | upcase }}{% endif %}</span>
				<br />
				<span class="pr20">{% for tag in page.tags %}<span class="icon-price-tag pr10"> {{tag}}</span> {% endfor %}</span>
			</p>
			{% if page.source == "contribution" %}
			<p>This page has been provided by a contributor</p>
			{% endif %}
			{% unless page.topics == empty%}
				<p>
				{% for topic in page.topics %}
					{% for controltopic in site.topics %}
						{% if controltopic.identifier == topic %}
						<a href="/topics/#topic_{{ controltopic.identifier }}">{{topic}}</a>{% if forloop.last %}{% else %}, {% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
				</p>
			{% endunless %}
			{% unless page.disciplines == empty%}
			{% assign matcheddisciplineprojects = site.emptyArray %}
				<h3>Similar Projects by Discipline</h3>
				<div>
				{% for discipline in page.disciplines %}
					{% for controldiscipline in site.data.disciplines %}
						{% if controldiscipline == discipline %}
							{% for finddisciplineprojects in site.projects %}
								{% if finddisciplineprojects.disciplines contains controldiscipline %}
									{% if finddisciplineprojects.identifier != page.identifier %}
										{% unless matcheddisciplineprojects contains finddisciplineprojects.identifier %}
											<div>
												<h5><a href="{{ site.url }}{{ finddisciplineprojects.id }}">{{ finddisciplineprojects.title }}</a></h5>
												<p>{{ finddisciplineprojects.teaser }}</p>
											</div>
											{% assign matcheddisciplineprojects = matcheddisciplineprojects | push: finddisciplineprojects.identifier %}
										{% endunless %}
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
				{% endfor %}
				</div>
			{% endunless %}
			{% unless page.topics == empty%}
			{% assign matchedtopicprojects = site.emptyArray %}
				<h3>Similar Projects by Topics</h3>
				<div>
				{% for topic in page.topics %}
					{% for controltopic in site.topics %}
						{% if controltopic.identifier == topic %}
							{% for findtopicprojects in site.projects %}
								{% if findtopicprojects.topics contains controltopic %}
									{% if findtopicprojects.identifier != page.identifier %}
										{% unless matchedtopicprojects contains findtopicprojects.identifier %}
											<div>
												<h5><a href="{{ site.url }}{{ findtopicprojects.id }}">{{ findtopicprojects.title }}</a></h5>
												<p>{{ findtopicprojects.teaser }}</p>
											</div>
											{% assign matchedtopicproject = matchedtopicprojects | push: findtopicprojects.identifier %}
										{% endunless %}
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
				{% endfor %}
				</div>
			{% endunless %}
			{% if page.collection == "posts" %}
			<div id="post-nav" class="row">
				{% if page.previous.url %}
				<div class="small-5 columns"><a class="button small radius prev" href="{{ site.url }}{{ site.baseurl }}{{page.previous.url}}">&laquo; {{page.previous.title}}</a></div><!-- /.small-4.columns -->
				{% endif %}
				<div class="small-2 columns text-center"><a class="radius button small" href="{{ site.url }}{{ site.baseurl }}/blog/archive/" title="Blog {{ site.data.language.archive }}">{{ site.data.language.archive }}</a></div><!-- /.small-4.columns -->
				{% if page.next.url %}
				<div class="small-5 columns text-right"><a class="button small radius next" href="{{ site.url }}{{ site.baseurl }}{{page.next.url}}">{{page.next.title}} &raquo;</a></div><!-- /.small-4.columns -->
				{% else %}
				<div class="small-5 columns text-right"></div><!-- /.small-4.columns -->
				{% endif %}
			</div>
			{% endif %}
			</div><!--  /.page-meta -->
