{% comment %}
*
*  To customize the navigation of *Feeling Responsive*,
*  edit `_data/navigation.yml`.
*
{% endcomment %}
<div id="navigation" class="{{ page.navigation_type | default: 'sticky' }}">
  <nav class="top-bar row" role="navigation" data-topbar>
    <ul class="title-area">
      <li class="name">
      <a href="{{ '/' | relative_url }}" title="home"><img src="{{ '/assets/img/marks/dhlg_logotype_horizontal.svg' | relative_url }}" class="dhlg-menu-logo"></a>
    </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>&nbsp;</span></a></li>
    </ul>
    <section class="top-bar-section">
{% comment %}

    ____  _       __    __     _   __            _             __  _
   / __ \(_)___ _/ /_  / /_   / | / /___ __   __(_)___ _____ _/ /_(_)___  ____
  / /_/ / / __ `/ __ \/ __/  /  |/ / __ `/ | / / / __ `/ __ `/ __/ / __ \/ __ \
 / _, _/ / /_/ / / / / /_   / /|  / /_/ /| |/ / / /_/ / /_/ / /_/ / /_/ / / / /
/_/ |_/_/\__, /_/ /_/\__/  /_/ |_/\__,_/ |___/_/\__, /\__,_/\__/_/\____/_/ /_/
        /____/                                 /____/

{% endcomment %}
      <ul class="right">
        <li class="logo"><a href="{{ '/' | relative_url }}" title="home"><img src="{{ '/assets/img/marks/dhlg_logotype_horizontal.svg' | relative_url }}" class="dhlg-menu-logo"></a></li>
        {% for link in site.data.navigation %}

              {% if link.url contains 'http' %}
                {% assign domain = '' %}
              {% elsif link.url == '#' %}
                {% assign domain = '' %}
              {% else %}
                {% assign domain = site.url %}
              {% endif %}

          {% comment %}   If there are links for right side begin   {% endcomment %}
          {% if link.side == 'right' %}
            {% comment %}   If right side WITHOUT dropdown menu do   {% endcomment %}
            {% if link.dropdown == nil %}
              <li class="divider"></li>
              <li{% if link.url == page.url %} class="active"{% elsif page.homepage == true and link.url == '/' %} class="active"{% endif %}><a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ link.url }}"{% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title | escape }}</a></li>

            {% comment %}   If right side WITH dropdown menu do   {% endcomment %}
            {% else %}

              <li class="divider"></li>
              <li class="has-dropdown{% if link.url == page.url %} active{% endif %}">
                  {% if link.url=='#' %}<span {% else %} <a {% endif %} class="{% if link.class %}{{link.class}}{% endif %}" {% if link.url!='#' %}href="{{ domain }}{{ site.baseurl }}{{ link.url }}"{% endif %} {% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title | escape }}{% if link.url=='#' %}</span> {% else %} </a> {% endif %}

                  <ul class="dropdown">
                    {% for dropdown_link in link.dropdown %}

                      {% if dropdown_link.url contains 'http' %}
                        {% assign domain = '' %}
                        {% else %}
                        {% assign domain = site.url %}
                      {% endif %}

                      <li>{% if dropdown_link.url=='#' %}<span {% else %} <a {% endif %} class="{% if dropdown_link.class %}{{dropdown_link.class}}{% endif %}" {% if dropdown_link.url!='#' %}href="{{ domain }}{{ site.baseurl }}{{ dropdown_link.url }}"{% endif %} {% if dropdown_link.url contains 'http' %} target="_blank"{% endif %}>{{ dropdown_link.title | escape }}{% if dropdown_link.url=='#' %}</span> {% else %} </a> {% endif %}</li>
                    {% endfor %}
                  </ul>

              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% comment %}   First loop finished 1   {% endcomment %}
      </ul>
{% comment %}

    __         ______     _   __            _             __  _
   / /   ___  / __/ /_   / | / /___ __   __(_)___ _____ _/ /_(_)___  ____
  / /   / _ \/ /_/ __/  /  |/ / __ `/ | / / / __ `/ __ `/ __/ / __ \/ __ \
 / /___/  __/ __/ /_   / /|  / /_/ /| |/ / / /_/ / /_/ / /_/ / /_/ / / / /
/_____/\___/_/  \__/  /_/ |_/\__,_/ |___/_/\__, /\__,_/\__/_/\____/_/ /_/
                                          /____/

{% endcomment %}
      <ul class="left">
        {% for link in site.data.navigation %}

              {% if link.url contains 'http' %}
                {% assign domain = '' %}
              {% elsif link.url == '#' %}
                {% assign domain = '' %}
              {% else %}
                {% assign domain = site.url %}
              {% endif %}

          {% comment %}   If there are links for left side begin   {% endcomment %}
          {% if link.side == 'left' %}

            {% comment %}   If left side WITHOUT dropdown menu do   {% endcomment %}
            {% if link.dropdown == nil %}
              <li class="{% if link.url == page.url %}active {% elsif page.homepage == true and link.url == '/' %}active {% endif %}{% if link.alternate == '?' %} alternateprefix{% endif %}"><a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ link.url }}"{% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title | escape }}</a></li>
              <li class="divider"></li>

            {% comment %}   If left side WITH dropdown menu do   {% endcomment %}
            {% else %}

              <li class="has-dropdown{% if link.url == page.url %} active{% endif %}">
                  {% if link.url=='#' %}<span {% else %} <a {% endif %} class="{% if link.class %}{{link.class}}{% endif %} {% if link.alternate == '?' %} alternateprefix{% endif %}" {% if link.url!='#' %}href="{{ domain }}{{ site.baseurl }}{{ link.url }}"{% endif %} {% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title | escape }}{% if link.url=='#' %}</span>{% else %}</a>{% endif %}

                  <ul class="dropdown">
                    {% for dropdown_link in link.dropdown %}

                      {% if dropdown_link.url contains 'http' %}
                        {% assign domain = '' %}
                        {% else %}
                        {% assign domain = site.url %}
                      {% endif %}

                      {% comment %}  START of SUBMENU If there are links for left side begin   {% endcomment %}


                        {% comment %}   If left side WITHOUT dropdown menu do   {% endcomment %}
                        {% if dropdown_link.dropdown == nil %}
                          <li{% if dropdown_link.url == page.url %} class="active"{% elsif page.homepage == true and dropdown_link.url == '/' %} class="active"{% endif %}><a {% if dropdown_link.class %}class="{{dropdown_link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ dropdown_link.url }}"{% if dropdown_link.url contains 'http' %} target="_blank"{% endif %}>{{ dropdown_link.title | escape }}</a></li>
                          <li class="divider"></li>

                        {% comment %}   If left side WITH dropdown menu do   {% endcomment %}
                        {% else %}

                          <li class="has-dropdown{% if dropdown_link.url == page.url %} active{% endif %}">
                              {% if dropdown_link.url=='#' %}<span {% else %} <a {% endif %} class="{% if dropdown_link.class %}{{dropdown_link.class}}{% endif %}" {% if dropdown_link.url!='#' %}href="{{ domain }}{{ site.baseurl }}{{ dropdown_link.url }}"{% endif %} {% if dropdown_link.url contains 'http' %} target="_blank"{% endif %}>{{ dropdown_link.title | escape }}{% if dropdown_link.url=='#' %}</span>{% else %}</a>{% endif %}

                              <ul class="dropdown">
                                {% for subdropdown_link in dropdown_link.dropdown %}

                                  {% if subdropdown_link.url contains 'http' %}
                                    {% assign domain = '' %}
                                    {% else %}
                                    {% assign domain = site.url %}
                                  {% endif %}

                                  {% comment %}  START of SUBSUBMENU If there are links for left side begin   {% endcomment %}


                        {% comment %}   If left side WITHOUT dropdown menu do   {% endcomment %}
                        {% if subdropdown_link.dropdown == nil %}
                          <li{% if subdropdown_link.url == page.url %} class="active"{% elsif page.homepage == true and subdropdown_link.url == '/' %} class="active"{% endif %}><a {% if subdropdown_link.class %}class="{{subdropdown_link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ subdropdown_link.url }}"{% if subdropdown_link.url contains 'http' %} target="_blank"{% endif %}>{{ subdropdown_link.title | escape }}</a></li>
                          <li class="divider"></li>

                        {% comment %}   If left side WITH dropdown menu do   {% endcomment %}
                        {% else %}

                          <li class="has-dropdown{% if subdropdown_link.url == page.url %} active{% endif %}">
                              {% if subdropdown_link.url=='#' %}<span {% else %} <a {% endif %} class="{% if subdropdown_link.class %}{{subdropdown_link.class}}{% endif %}" {% if subdropdown_link.url!='#' %}href="{{ domain }}{{ site.baseurl }}{{ subdropdown_link.url }}"{% endif %} {% if subdropdown_link.url contains 'http' %} target="_blank"{% endif %}>{{ subdropdown_link.title | escape }}{% if subdropdown_link.url=='#' %}</span>{% else %}</a>{% endif %}

                              <ul class="dropdown">
                                {% for subsubdropdown_link in subdropdown_link.dropdown %}

                                  {% if subsubdropdown_link.url contains 'http' %}
                                    {% assign domain = '' %}
                                    {% else %}
                                    {% assign domain = site.url %}
                                  {% endif %}

                                    <li>{% if subsubdropdown_link.url=='#' %}<span {% else %} <a {% endif %} class="{% if subsubdropdown_link.class %}{{subsubdropdown_link.class}}{% endif %}" {% if subsubdropdown_link.url!='#' %}href="{{ domain }}{{ site.baseurl }}{{ subsubdropdown_link.url }}"{% endif %} {% if subsubdropdown_link.url contains 'http' %} target="_blank"{% endif %}>{{ subsubdropdown_link.title | escape }}{% if subsubdropdown_link.url=='#' %}</span>{% else %}</a>{% endif %}</li>
                                  {% endfor %}
                                </ul>

                            </li>
                            <li class="divider"></li>

                        {% endif %}
                      {% comment %}  end of SUBsub menu {% endcomment %}
                                {% endfor %}
                              </ul>

                            </li>
                            <li class="divider"></li>

                        {% endif %}
                      {% comment %}  end of sub menu {% endcomment %}
                    {% endfor %}
                  </ul>

              </li>
              <li class="divider"></li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% comment %}   Second loop finished   {% endcomment %}
      </ul>
    </section>
  </nav>
</div><!-- /#navigation -->