<aside id="sidenav">
	<div class="panel">
		<p class="morse">{{ page.title }}</p>
		<h4>Table of Contents</h4>
		<ul>
		{% if page.title == "Projects" %}
			{% for project in site.projects limit:1000 %}
				<li data-projectid="{{ project.identifier }}">{{ project.title }}</li>
			{% endfor %}
		{% endif %}
		{% if page.title == "Topics" %}
			{% for topic in site.topics limit:1000 %}
				<li data-projectid="{{ topic.identifier }}">{{ topic.title }}</li>
			{% endfor %}
		{% endif %}
		</ul>
	</div>
</aside>