---
# Only the main Sass file needs front matter, rest is included from site.sass.sass_dir
sitemap:
  exclude: true
---
@charset "utf-8";

$splashimageurl: "{{ site.url }}{{ site.baseurl }}{{ site.splashimage }}";
$modulesplashimageurl: "{{ site.url }}{{ site.baseurl }}{{ site.modulesplashimage }}";

@import "functions.scss";

$fontsfolder: '../fonts';

@mixin font-face($style-name, $file, $folder, $category:"",$weight:"") {
  $filepath: $fontsfolder + "/" + $folder + "/" + $file;
  @font-face {
      font-family: "#{$style-name}";
      src: url($filepath + $weight+"-webfont.eot");
      src: url($filepath + $weight+"-webfont.eot?#iefix") format('embedded-opentype'), url($filepath + $weight+"-webfont.woff") format('woff'), url($filepath + $weight+".ttf")  format('truetype'), url($filepath + $weight+"-webfont.svg#" + $style-name + "") format('svg');
      @if($weight == 'bold') {
          font-weight: 700;
      } 
      @else {
          font-weight: normal;
      }
  }
  %#{$style-name} {
      font: {
          @if $category != "" {
              family: "#{$style-name}", #{$category};
          }
          @else {
              family: "#{$style-name}";
          }
      }
  }
}

@include font-face("Noto Serif Condensed", "noto-serif-condensed", "noto-serif-condensed", "serif");
@include font-face("Noto Serif Condensed Bold", "noto-serif-condensed", "noto-serif-condensed", "serif","bold");
@include font-face("Noto Sans Light", "noto-sans-light", "noto-sans-light", "sans-serif");
@include font-face("Noto Sans Light Italic", "noto-sans-light", "noto-sans-light", "sans-serif","italic");
@include font-face("Noto Mono", "noto-mono", "noto-mono", "sans-serif");

@import "01_settings_colors.scss";
@import "02_settings_typography.scss";
@import "03_settings_mixins_media_queries.scss";
@import "04_settings_global.scss";
@import "05_normalize.scss"; // normalize.css v3.0.2

@import "foundation-components/top-bar";
@import "foundation-components/accordion";
@import "foundation-components/alert-boxes";
@import "foundation-components/breadcrumbs";
@import "foundation-components/block-grid";
@import "foundation-components/button-groups";
@import "foundation-components/buttons";
@import "foundation-components/clearing";
@import "foundation-components/dropdown";
@import "foundation-components/dropdown-buttons";
@import "foundation-components/flex-video";
@import "foundation-components/forms";
@import "foundation-components/grid";
@import "foundation-components/inline-lists";
@import "foundation-components/keystrokes";
@import "foundation-components/panels";
@import "foundation-components/reveal";
@import "foundation-components/side-nav";
@import "foundation-components/sub-nav";
@import "foundation-components/tables";
@import "foundation-components/thumbs";
@import "foundation-components/top-bar";
@import "foundation-components/type";
@import "foundation-components/visibility";

@import "06_typography.scss";
@import "07_layout.scss";
@import "foundation-components/grid";
@import "09_elements.scss";

{% if site.asciidoctor-enabled == true %}
@import "10_asciidoc.scss";
{% endif %}

@import "11_syntax-highlighting.scss";

#frontsplash{
  #sitetitle {
    max-width:10em;
  }
}

blockquote{
  border-left: solid 4px $grey-11;
  margin: 0;
  padding: 0.5em;
  background: $grey-1;
  &:before {
    content:"";
  }
  &:after {
    content:"";
  }
  p{
    margin: 0;
  }
}

#lunrsearchresults {
  width: 100%;
  p{
    margin: $topbar-height/2 0 0;
  }
  ul {
    list-style: none;
    margin: $topbar-height/2 0;
    li {
      width: 100%;
      padding: 1rem 0;
      font-weight: normal;
      span{
        display:block;
        width:100%;
      }
      .title{
        font-size: 1.3rem;
      }
      a{
        color: $red;
        font-weight: bold;
        &:hover{
          
        }
      }
    }
  }
}

.top-bar-section{
  a{
    text-decoration: underline;
    &:hover{
      color: $red;
    }
  }
  ul{
    &.right{
      margin-right: 0.75rem;
    }
    &.left{
      margin-left: 0.75rem;
    }
    li{
      &.divider:last-of-type {
        width: 0!important;
      }
    }
  }
}
#footer{
  color: $white;
  a {
    color: $white;
    text-decoration: underline;
    &:hover{
      color: $grey;
    }
  }
  h5{
    font-family: $font-family-monospace;
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-decoration: none;
  }
  #dhlogobox {
    float: right;
  }
}
#subfooter {
  border-top: 2px $white solid;
  padding: 1.25rem 0;
  font-family: $font-family-sans-serif;
  a {
    color: $white;
    text-decoration: underline;
    &:hover{
      color: $grey;
    }
  }
  ul{
    margin: 0;
    li {
      margin-left: 0;
      margin-right: 0.5rem;
      height: 2rem;
      line-height: 2rem;
    }
  }
}

.breadcrumbs {
  margin-bottom: 2rem;
  &>*{
    text-transform: capitalize;
    &:before{
      content: unset;
    }
    &:first-child:before{
      content: unset;
    }
  }
}

[aria-label="breadcrumbs"] [aria-hidden="true"]:after {
  content: "";
}

#dhlg-logo {
  display: block;
  margin: auto;
}
#dhlg-menu-logo {
  max-height: 2.6rem;
  margin: 0.5em auto 0.5em 0;
}
.show-for-small-only {
  width: 70%;
  float: left;
}
.logo{
  width: 13rem;
}
#cmu-logo{
  margin-top: 1rem;
}
.morse{
  font-size: 2.7rem;
  font-family: "Raleway";
  color: $brilliant-amber !important;
  margin-top: 0;
  line-height: 2.6rem;
  margin-bottom: 4rem;
}
#sidemorse{
  display: none;
}

#sidenav{
  h4{
    font-family: $font-family-sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 900;
  }
  ul#toc{
    margin:0;
    overflow-y: auto;
  }
  li{
    font-family: $font-family-monospace;
    list-style: none;
    font-size: rem-calc(14);
    cursor: pointer;
    &:before {
      content: "\2014";
      display: inline-block;
      width: 1rem;
      font-family: $font-family-monospace;
      top:0;
      cursor: pointer;
      pointer-events: none;
    }
    &:hover{
      color: $red;
    }
  }
  .morse{
    display: none;
  }
}
.projectbox{
  p{
    font-size: 0.8rem;
    line-height: 1.6rem;
    letter-spacing: 0.03rem;
    margin: 1rem 2rem;
    &.source_disciplines{
      font-family: $font-family-monospace;
      text-transform: uppercase;
      font-size: 0.75rem;
      img {
        height: 18px;
      }
      span {
        text-decoration: underline;
      }
    }
  }
  h4{
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    line-height: 1.4rem;
    font-size: 1.1rem;
    margin: 1rem 2rem;
    font-weight: bold;
    font-style: normal;
  }
  .button{
    color: $black;
    background: $white;
    border: solid 1px $black;
    font-size: 0.9rem;
    padding: 0.75rem 1rem;
    font-weight: normal;
    font-family: $font-family-sans-light;
    &:hover{
      color: $white;
      background: $black;
    }
  }
}

#pagetitle {
  font-size: 3em;
  font-weight: bold;
}

h1.title {
  font-size: 3em;
  font-weight: bold;
}
#main {
  margin-top: 60px;
  h2{
    font-family: $font-family-sans-serif;
  }
}
.selectedtocitem{
  color: red;
}

#frontpage{
  div.columns{
    height: 50em;
    padding: 5em 0;
  }
}

#frontpage_logo {
  display: block;
  margin: auto;
}

#frontmenu {
  #{$default-float}: 0;
  position: relative;
  width: auto;
  @include single-transition($default-float, $topbar-transition-speed);

  padding: 0;
  height: auto;
  display: block;
  font-size: $rem-base;
  margin: 0;
  list-style: none;

  li {
    background: transparent;
    position: relative;
    height: $topbar-line-height;
    & > a {
      display: block;
      width: 100%;
      color: $topbar-link-color;
      padding: 1rem 0 1rem 0;
      padding-#{$default-float}: $topbar-link-padding;
      font-family: $topbar-link-font-family;
      font-size: 1rem;
      font-weight: $topbar-link-weight;
      text-transform: $topbar-link-text-transform;
    }

    // Apply the hover link color when it has that class
    &:hover:not(.has-form):not(.logo) > a {
      background:url('/assets/img/circle-brilliant-amber.svg') no-repeat -2px 2px;
      @if ($topbar-link-bg-hover) {
        background:url('/assets/img/circle-brilliant-amber.svg') no-repeat -2px 2px;
      }
      color: $topbar-link-color-hover;
    }
    // Apply the active link color when it has that class
    &.active > a {
      color: $topbar-link-color-active;
      &:hover:not(.logo) {
        background:url('/assets/img/circle-brilliant-amber.svg') no-repeat -2px 2px;
        color: $topbar-link-color-active-hover;
      }
    }
    &:not(.has-dropdown):not(.logo){
      & > a {
        &:before {
          content: "\2014";
          display: block;
          width: 0;
          height: 0;
          position: absolute;
          font-family: $font-family-monospace;
          left: 0.2rem;
          top: 0.9rem;
        }
      }
    }
    &.alternateprefix { 
      & > a {
        &:before {
          content: "\003F" !important;
        }
      }
    }
  }
  &>li:not(.logo):not(.divider){
    background:url('/assets/img/circle-pale-amber.svg') no-repeat -2px 2px;
  }

  // Styling for list items that have a dropdown within them.
  .has-dropdown {
    position: relative;

    & > a {
      &:before {
        @if ($topbar-arrows){
          content: "\FF0B";
          display: block;
          width: 0;
          height: 0;
        }
        position: absolute;
        font-family: $font-family-monospace;
        left: 0.2rem;
        top: 1em;
      }
    }

    &.moved { position: static;
      & > .dropdown {
        @include topbar-show-dropdown();
        width: 100%;
      }
      & > a:after {
        display: none;
      }
    }
  }

  // Styling elements inside of dropdowns
  .dropdown {
    padding: 0;
    position: absolute;
    #{$default-float}: 100%;
    top: 0;
    z-index: 99;
    @include topbar-hide-dropdown();

    li {
      width: 100%;
      height: auto;
      position: relative;
      background: $topbar-dropdown-bg;

      a {
        font-weight: $topbar-dropdown-link-weight;
        padding: 8px $topbar-link-padding;
        &.parent-link {
          font-weight: $topbar-link-weight;
        }
      }

      &.title h5, &.parent-link {
        // Back Button
        margin-bottom: 0;
        margin-top: 0;
        font-size: $topbar-back-link-size;
        a {
          color: $topbar-link-color;
          // line-height: ($topbar-height / 2);
          display: block;
          &:hover { background:none; }
        }
      }
      &.has-form { padding: 8px $topbar-link-padding; }
      .button, button { top: auto; }
    }
  }
}

@media #{$small-only} {

}

@media #{$medium-up} {
  #dhlg-logo {
    width: 60%;
    max-height: 7rem;
  }
  #cmu-logo {
    margin-top: 0;
  }
  h1.title {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  #main {
    background: url(/assets/img/circle-pale-amber.svg) no-repeat -10px -10px;
    background-size: 320px 320px;
    min-height: 340px;
  }
  .projectbox {
    min-height: 35rem;
  }
  .similarprojects {
    .projectbox {
      h4 {
        margin: 1rem 0;
      }
      p {
        margin: 1rem 0;
      }
    }
  }
  .breadcrumbs{
    margin-bottom: 2rem;
  }
  #sidenav{
    transition: all 0.5s ease 0s;
    .morse{
      display: block;
    }
  }
  #topics{
    .content{
      &:before {
        visibility: hidden;
        content: "\002A";
        top: 3.7rem;
        left: -2.2rem;
        position: relative;
        color: $red;
        font-weight: bold;
        font-size: 3rem;
        font-family: $font-family-sans-serif;
      }
      &.selectedtopic:before {
        visibility: visible;
      }
    }
  }
  #footer{
    #dhlogobox {
      float: left;
    }
  }
}

@media #{$large-up} { 
  #sidemorse{
    overflow: hidden;
    display: block;
    .morse{
      color: $pale-amber !important;
      text-align: right;
      width: 55%;
      float: right;
      opacity: 0.5;
      font-size: 2.7rem;
      line-height: 3rem;
      opacity: 0.5;
      margin-top: 600px;
    }
  }
  #dhlg-logo {
    max-height: unset;
  }
  #navigation {
    background: #FFFFFF;
    margin-top: 2rem;
  }
  .top-bar-section {
    ul li{
      &:not(.has-dropdown):not(.logo){
        & > a {
          &:before {
            top: 0;
          }
        }
      }
      & > a{
        padding: 12px 0 12px 0;
      }
    }
  }
}

@media #{$xlarge-up} {

}