---
layout: default
format: frontpage
---
<div class="row" id="frontpage">
	<div class="medium-8 large-7 large-offset-1 columns">
		<div class="row">
			<div class="medium-10 medium-offset-1 large-12 columns">
				<img src="{{ '/assets/img/marks/dhlg_logotype_full.png' | relative_url }}" id="frontpage_logo">
			</div>
		</div>
		<div class="row">
			<div class="medium-10 medium-offset-1 large-8 large-offset-2 columns" id="frontcontents">
				{{ content }}
				{% if page.callforaction %}
				<p>
					<a class="button radius" href="{{ page.callforaction.url | relative_url }}">{{ page.callforaction.text }}</a>
				</p>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="medium-4 columns">
  	<div id='frontpage_cmu_logo_wrap'>
		  <a id='frontpage_cmu_logo' href="https://www.cmu.edu" target="_blank"><img src="{{ 'assets/img/CMU_wordmark_stack.png' | relative_url }}"></a>
  	</div>
		<ul id="frontmenu" class="left">
			{% for link in site.data.navigation %}
				{% if link.url contains 'http' %}
					{% assign domain = '' %}
				{% elsif link.url == '#' %}
					{% assign domain = '' %}
				{% else %}
					{% assign domain = site.url %}
				{% endif %}

				{% comment %}   If there are links for left side begin   {% endcomment %}
				{% if link.side == 'left' %}

				{% comment %}   If left side WITHOUT dropdown menu do   {% endcomment %}
					{% if link.dropdown == nil %}
						<li class="{% if link.url == page.url %}active {% elsif page.homepage == true and link.url == '/' %}active {% endif %}{% if link.alternate == '?' %} alternateprefix{% endif %}"><a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ link.url }}"{% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title | escape }}</a></li>
					{% comment %}   If left side WITH dropdown menu do   {% endcomment %}
					{% else %}
						<li class="has-dropdown{% if link.url == page.url %} active{% endif %}">
							{% if link.url=='#' %}<span {% else %} <a {% endif %} class="{% if link.class %}{{link.class}}{% endif %} {% if link.alternate == '?' %} alternateprefix{% endif %}" {% if link.url!='#' %}href="{{ domain }}{{ site.baseurl }}{{ link.url }}"{% endif %} {% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title | escape }}{% if link.url=='#' %}</span>{% else %}</a>{% endif %}
							<ul class="dropdown">
								{% for dropdown_link in link.dropdown %}
									{% if dropdown_link.url contains 'http' %}
										{% assign domain = '' %}
									{% else %}
										{% assign domain = site.url %}
									{% endif %}

									{% comment %}  START of SUBMENU If there are links for left side begin   {% endcomment %}
									{% comment %}   If left side WITHOUT dropdown menu do   {% endcomment %}
									{% if dropdown_link.dropdown == nil %}
										<li{% if dropdown_link.url == page.url %} class="active"{% elsif page.homepage == true and dropdown_link.url == '/' %} class="active"{% endif %}><a {% if dropdown_link.class %}class="{{dropdown_link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ dropdown_link.url }}"{% if dropdown_link.url contains 'http' %} target="_blank"{% endif %}>{{ dropdown_link.title | escape }}</a></li>
									{% comment %}   If left side WITH dropdown menu do   {% endcomment %}
									{% else %}
										<li class="has-dropdown{% if dropdown_link.url == page.url %} active{% endif %}">
											{% if dropdown_link.url=='#' %}<span {% else %} <a {% endif %} class="{% if dropdown_link.class %}{{dropdown_link.class}}{% endif %}" {% if dropdown_link.url!='#' %}href="{{ domain }}{{ site.baseurl }}{{ dropdown_link.url }}"{% endif %} {% if dropdown_link.url contains 'http' %} target="_blank"{% endif %}>{{ dropdown_link.title | escape }}{% if dropdown_link.url=='#' %}</span>{% else %}</a>{% endif %}
										</li>
									{% endif %}
									{% comment %}  end of sub menu {% endcomment %}
								{% endfor %}
							</ul>
						</li>
					{% endif %}
				{% endif %}
			{% endfor %}
			{% comment %}   Second loop finished   {% endcomment %}
		</ul>
	</div>
</div><!-- /.row -->