---
layout: default
format: page
---
<div class="row" id="main">
	{% if page.sidebar == "left" %}
	<div class="large-4 columns">
		{% include _sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}
		
	<div class="large-8 columns{% if page.sidebar == NULL %} large-offset-2 {% endif %}{% if page.sidebar == "left" %} {% endif %}">
		<article itemscope itemtype="http://schema.org/Article">
			<header class="row">
				<div itemprop="name" class="large-8 large-offset-2 columns">
					<h1 id="pagetitle" class="landing">{{ page.title }}</h1>
					{% if page.breadcrumb == true %}
						{% include _breadcrumb.html %}
					{% endif %}
					{% unless page.description ==NULL %}
					<div class="row">
						<div class="large-8 columns t30">
							<p>{{ page.description | markdownify }}</p>
						</div>
					</div>
					{% endunless %}
				</div>
			</header>

			<div itemprop="articleSection">
				{{ content }}
			</div>
		</article>
	</div><!-- /.medium-8.columns -->
</div><!-- /.row -->
