---
layout: default
format: page
---
<div class="row {% if page.sidebar == NULL %}circlebg{% endif %}{% if page.source == 'community' %} contribution{% endif %}" id="main">
	{% if page.sidebar == "left" %}
	<div class="large-4 small-12 columns">
		{% include _sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}
	{% if page.sidebar == NULL %}
	{% unless page.title == "Search" %}
	<div id="sidemorse" class="large-2 small-12 columns">
	</div>
	{% endunless %}
	{% endif %}
		
	<div id="contents" class="large-8 small-12 columns {% if page.title == "Search" %} large-offset-2{% endif %}">
		<article itemscope itemtype="http://schema.org/Article">
			<header>
				<div itemprop="name">
					<h1 class="title">{{ page.title }}</h1>
					{% if page.breadcrumb == true %}
						{% include _breadcrumb.html %}
					{% endif %}
				</div>
			</header>

			<div itemprop="articleSection">
				{{ content }}
			</div>
			{% if page.authors %}
			<div>
			{% for author in page.authors %} 
				<h4> 
				<span class="authorname" itemprop="author" itemscope itemtype="http://schema.org/Person">{% unless author.uri==NULL%}<a href="{{ author.uri }}" target="_blank">{% endunless %}{{ author.name }}{% unless author.uri!='' %}</a>{% endunless %} {% unless author.affiliation==NULL%}({{ author.affiliation }}){% endunless %}</span> 
				</h4> 
			{% unless author.bio == NULL %} 
				<p class="authorbio">{{ author.bio | markdownify }}</p> 
			{% endunless %} 
		{% endfor %} 
	</div>
		{% endif %} 
			
		</article>
	</div><!-- /.medium-8.columns -->
	{% if page.sidebar == NULL %}
	<div class="large-2 small-12 columns">
	</div>
	{% endif %}
</div><!-- /.row -->