---
layout: default
format: page
---
<div class="row t30">
	<div class="small-8 small-offset-2 columns{% if page.sidebar == NULL %} {% endif %}{% if page.sidebar == "left" %} small-push-4{% endif %}">
		<article itemscope itemtype="http://schema.org/Article">
			<header>
				<div itemprop="name">
					{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
					<h1>{{ page.title }}</h1>
				</div>
				{% if page.breadcrumb == true %}
					{% include _breadcrumb.html %}
				{% endif %}
			</header>

			{% if page.teaser %}
			<p class="teaser" itemprop="description">
				{{ page.teaser }}
			</p>
			{% endif %}

			<div itemprop="articleSection">
			{{ content }}
			</div>

			{% if page.comments == true %}
			{% include _comments.html %}
			{% endif %}
		</article>
	</div><!-- /.medium-8.columns -->


	{% if page.sidebar == "left" %}
	<div class="small-4 columns small-pull-8">
		{% include _sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}


	{% if page.sidebar == "right" %}
	<div class="small-4 columns">
		{% include _sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}
</div><!-- /.row -->
