---
layout: default
format: page
---
<div class="row {% if page.sidebar == NULL %}circlebg{% endif %}" id="main">
	{% if page.sidebar == "left" %}
	<div class="large-4 small-12 columns">
		{% include _sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}
	{% if page.sidebar == NULL %}
	<div id="sidemorse" class="large-2 small-12 columns">
	</div>
	{% endif %}
		
	<div id="contents" class="large-8 small-12 columns {% if page.sidebar == "left" %} {% endif %}">
		<article itemscope itemtype="http://schema.org/Article">
			<header {% if page.title == "Projects" %}class="row"{% endif %}>
				<div itemprop="name" {% if page.title == "Projects" %}class="small-8 small-offset-2 columns"{% endif %}>
					<h1 class="title">{{ page.title }}</h1>
					{% if page.breadcrumb == true %}
						{% include _breadcrumb.html %}
					{% endif %}
				</div>
			</header>

			<div itemprop="articleSection">
				{{ content }}
			</div>
			{% if page.authors %}
			<div>
			{% for author in page.authors %} 
				<h4> 
				<span class="authorname" itemprop="author" itemscope itemtype="http://schema.org/Person">{% if author.uri!='' %}<a href="{{ author.uri }}" target="_blank">{% endif %}{{ author.name }}{% if author.uri!='' %}</a>{% endif %} ({{ author.affiliation }})</span> 
				</h4> 
			{% if author.bio != empty %} 
				<p class="authorbio">{{ author.bio | markdownify }}</p> 
			{% endif %} 
		{% endfor %} 
	</div>
		{% endif %} 
			
		</article>
	</div><!-- /.medium-8.columns -->
	{% if page.sidebar == NULL %}
	<div class="large-2 small-12 columns">
	</div>
	{% endif %}
</div><!-- /.row -->