---
layout: default
format: video
---
<div class="row">
	<div class="small-12 columns">
		<article itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
			<div class="flex-video">
				<iframe width='970' height='546' src='//www.youtube.com/embed/{{ page.youtubeid }}' frameborder='0' allowfullscreen></iframe>
			</div>

			<div class="row">
				<div class="medium-offset-2 medium-8 end columns">
					<header>
						{% if page.subheadline %}<p class="subheadline t30">{{ page.subheadline }}</p>{% endif %}
					</header>

					<meta itemprop="thumbnailUrl" content="http://img.youtube.com/vi/{{ page.youtubeid}}/0.jpg" />
					<meta itemprop="contentURL" content="http://www.youtube.com/watch?v={{ page.youtubeid}}" />
					<meta itemprop="embedURL" content="https://www.youtube.com/embed/{{ page.youtubeid}}" />

					{% if page.teaser %}
					<p class="teaser" itemprop="description">
						{{ page.teaser }}
					</p>
					{% endif %}

					{{ content }}
					{% include _meta_information.html %}
				</div><!-- /.medium-8.columns -->
			</div><!-- /.row -->
		</article>

	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
